extends ../layout

block content
    .banner
        img(src="/img/photo/banner.jpg")
    .wrap
        .info.clearfix
            .poster
                img(src="/img/poster/main.jpg")
            .brief
                p #{movie.year}
                h2 #{movie.titleCN}
                p #{movie.release}
                .rating 
                    p #{movie.rating}
                    .star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                span #{movie.timeLength}
                span #{movie.type} 
            .about
                h4 剧情简介
                span.line
                p #{movie.synopsis}
            .detail
                h4 影片详情
                span.line
                p #{movie.director}
                p #{movie.casts}
                p #{movie.language}
                p #{movie.country}
            .similar.slide(alt="1")
                h4 喜欢这部电影的人也喜欢...
                span.line
                .hover-toggle
                    .hover-block.active
                        span
                    .hover-block
                        span
                    .hover-block
                        span
                .slide-box
                    ul.similar-list.clearfix.slide-content
                        li.slide-item
                            ul
                                li
                                    .similar-movie.clearfix.active
                                        a(href="/movie/#{movie.similar[0].doubanID}")
                                            img(src="#{movie.similar[0].poster}")
                                        .similar-brief
                                            p #{movie.similar[0].title}
                                            
                                    
                                li
                                    .similar-movie.clearfix
                                        a(href="/movie/#{movie.similar[1].doubanID}")
                                            img(src="#{movie.similar[1].poster}")
                                        .similar-brief
                                            p #{movie.similar[1].title}
                                            
                        li.slide-item
                            ul
                                li
                                    .similar-movie.clearfix.active
                                        a(href="/movie/#{movie.similar[2].doubanID}")
                                            img(src="#{movie.similar[2].poster}")
                                        .similar-brief
                                            p #{movie.similar[2].title}
                                            
                                    
                                li
                                    .similar-movie.clearfix
                                        a(href="/movie/#{movie.similar[3].doubanID}")
                                            img(src="#{movie.similar[3].poster}")
                                        .similar-brief
                                            p #{movie.similar[3].title}
                                            
                        li.slide-item
                            ul
                                li
                                    .similar-movie.clearfix.active
                                        a(href="/movie/#{movie.similar[4].doubanID}")
                                            img(src="#{movie.similar[4].poster}")
                                        .similar-brief
                                            p #{movie.similar[4].title}
                                            
                                    
                                li
                                    .similar-movie.clearfix
                                        a(href="/movie/#{movie.similar[5].doubanID}")
                                            img(src="#{movie.similar[5].poster}")
                                        .similar-brief
                                            p #{movie.similar[5].title}
                                            
            .pva.slide
                .hover-toggle
                    h4.hover-block.active 剧照
                    h4.hover-block 预告
                    h4.hover-block 短评
                    span.line
                ul
                    li.photos
                        //- .container
                        .row
                            .col.col-md-12
                                img.photo-large(src="/img/photo/photo1.jpg")
                        .row
                            .col.col-md-6
                                img.photo-middle(src="/img/photo/photo2.jpg")
                            .col.col-md-6.col-small
                                img.photo-small(src="/img/photo/photo3.jpg")
                                img.photo-small(src="/img/photo/photo4.jpg")
                        .row
                            .col.col-md-12
                                img.photo-large(src="/img/photo/photo1.jpg")
                    li.videos
                    li.reviews
    .wrap-dark
        .review.clearfix
            h4 星际迷航3：超越星辰的影评
            .row
                .col.col-md-6.clearfix
                    img.review-avatar(src="/img/review/review-avatar1.jpg")
                    .review-box
                        a.review-title(src="#") 我实在是受不了了！能不能别这么侮辱我的智商！
                        p.review-name 月光
                        p.review-time 2016-09-02 22:35:28 
                        .review-rating
                            .rating
                                .star.allstar10
                                    i.fa.fa-star.light
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                        p.review-content 受到评论的启发，补充几点写影评时候漏掉的。评论启发的我会特别注明。 本影评用词较激烈，实在是被折磨的受不了了。接受不了激烈语言的朋友请勿阅读，谢谢。 可能我对星际迷航3的评价让人觉得有些偏颇，............
                .col.col-md-6.clearfix
                    img.review-avatar(src="/img/review/review-avatar2.jpg")
                    .review-box
                        a.review-title(src="#") 超越星辰：如果你真的需要一个详细的解读，那就...
                        p.review-name XITO已成吃货 
                        p.review-time 2016-07-22 10:05:53 
                        .review-rating
                            .rating
                                .star.allstar50
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                        p.review-content 9月10日写到9月11日 更新 原文是在7月份香港上映后写的。当时考虑到时间太早不便剧透，也就没有完全地以电影的细节为主要内容来写，反而是从星航迷的角度出发，讨论了一下星航粉丝应该如何定位如今新系列的问题。 然而现在我............
                .col.col-md-6.clearfix
                    img.review-avatar(src="/img/review/review-avatar3.jpg")
                    .review-box
                        a.review-title(src="#") 50年，这部科幻剧集依然活着
                        p.review-name XITO已成吃货 
                        p.review-time 2016-07-22 10:05:53 
                        .review-rating
                            .rating
                                .star.allstar50
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                        p.review-content 9月10日写到9月11日 更新 原文是在7月份香港上映后写的。当时考虑到时间太早不便剧透，也就没有完全地以电影的细节为主要内容来写，反而是从星航迷的角度出发，讨论了一下星航粉丝应该如何定位如今新系列的问题。 然而现在我............
                .col.col-md-6.clearfix
                    img.review-avatar(src="/img/review/review-avatar4.jpg")
                    .review-box
                        a.review-title(src="#") 你只要继续向前走就是了
                        p.review-name XITO已成吃货 
                        p.review-time 2016-07-22 10:05:53 
                        .review-rating
                            .rating
                                .star.allstar50
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                                    i.fa.fa-star.light
                        p.review-content 9月10日写到9月11日 更新 原文是在7月份香港上映后写的。当时考虑到时间太早不便剧透，也就没有完全地以电影的细节为主要内容来写，反而是从星航迷的角度出发，讨论了一下星航粉丝应该如何定位如今新系列的问题。 然而现在我............
            .more-review 更多影评...

    script(src="/js/ratingStar.js")
    script(src="/js/slide.js")
    